*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: sans-serif;
  color: #343a40;
  font-size: 24px;
  display: grid;
  grid-template-columns: 80px 400px 1fr 250px;
  grid-template-rows: 80px 1fr;
  height: 100vh;
  text-align: center;
  font-weight: bold;
}

nav, menu, section, main, aside{
  padding: 20px;
}

button {
  display: inline-block;
  font-size: 16px;
  background-color: #5f3dc4;
  border: none;
  cursor: pointer;
  color: #fff;
  padding: 8px 12px;
  font-weight: bold;
}

nav {
  background-color: #343a40;
  color: #fff;
  grid-row: 1 / -1;
}
menu {
  background-color: #7048e8;
  grid-column:  2 / -1;
  padding: 0 40px;
  display: flex;
  gap: 50px;
  align-items: center;
  justify-content: space-between;

}

button:last-child {
  background-color: #d633fc;
  margin-left: auto;
}

div {
  background-color: #adb5bd;
  height: 96px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}

section{
  background-color: blueviolet;
  color: #fff;
  padding: 40px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  overflow: scroll;
}
main{
  background-color: blue;
  color: #fff;
}
aside{
  background-color: #e9ecef;
}