*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  font-family: sans-serif;
  line-height: 1;
  font-weight: 400;
  color: #555;
}

html{
  /* setting 1 rem to 10px */
  /* font-size: 10px;  */
  /* default is 16px we want to set it at 10px, so */
  font-size: 62.5%;
}
/*
.test{
  background-color: red;
  padding: 10rem;
  width: 1000px; 
   max-width: 1000px; 

   max-width: 50rem; 
   1 rem = 16px By default -> 50 * 16 = 800px
   To change deafult, set fomt-size at the root element(HTML)
} 
*/

.hero{
  max-width: 130rem;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 30px;
}

.hero-img{
  width: 100%;
}